{% extends 'accounts/_profile_settings_base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block setting_content %}

<h5 class="mb-3"><i class="icon-circle bg-fb-primary-200 text-fb-primary fa fa-lock"></i> Change password</h5>
{% if messages %}
{% for message in messages %}
{% if message.tags == 'error' %}
<div class="alert alert-danger">
	<i class="fas fa-exclamation-circle"></i> {{ message }}
</div>
{% endif %}
{% endfor %}
{% endif %}
<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
	{% csrf_token %}
	{{ form|crispy }}
	<button type="submit" class="btn btn-primary">Save Password</button>
</form><br>
<a href="{% url 'account_reset_password' %}" class="a-fb-default text-primary small">{% trans "Forgot Password?" %}</a>

{% endblock %}