{% extends "_base.html" %}

{% load i18n %}
{% block title %}{% trans "Password changed" %}{% endblock %}

{% block content %}

<div class="container py-3">
    <div class="row justify-content-center">
        <div class="col-md-4 bg-white p-3">

            <div class="text-center">
                <h4 class="text-primary">{% trans "Password changed" %}</h4>

                <p class="small">{% trans 'Your password is now changed.' %}</p>

                <a href="{% url 'account_login' %}" class="btn btn-light w-100 mt-2">{% trans "Return to login" %}</a>
            </div>

        </div>
    </div>
</div>

{% endblock %}