{% extends "_base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset Email Sent" %}{% endblock %}

{% block content %}

<div class="container py-3">
    <div class="row justify-content-center">
        <div class="col-md-4 bg-white p-3">

            <div class="text-center">
                <h4 class="text-primary">{% trans "E-mail sent" %}</h4>

                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p class="small">{% blocktrans %}We have sent you an e-mail. If you have not received it
                    please check your spam folder. Otherwise contact us if you do not receive
                    it in a few minutes.{% endblocktrans %}</p>

                <a href="{% url 'account_login' %}" class="btn btn-light w-100 mt-2">{% trans "Return to login" %}</a>
            </div>

        </div>
    </div>
</div>

{% endblock %}