{% extends "_base.html" %}

{% load i18n %}
{% load account crispy_forms_tags %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="container py-3">
    <div class="row justify-content-center">
        <div class="col-md-4 bg-white p-3">

            <div class="text-center">
                <h4 class="text-primary">{% trans "Password Reset" %}</h4>

                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p class="small">{% blocktrans %} Forgotten your password? Enter your e-mail address below, and
                    we'll send you an e-mail allowing you to reset it.{% endblocktrans %}</p>

                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-fb-primary w-100" value="{% trans 'Reset My Password' %}" />
                </form>
                <a href="{% url 'account_login' %}" class="btn btn-light w-100 mt-2">{% trans "Cancel" %}</a>

                <p class="mt-2 small text-muted">{% blocktrans %}Please contact us if you have any trouble resetting
                    your password.{% endblocktrans %}</p>

            </div>

        </div>
    </div>
</div>

{% endblock %}