{% extends "_base.html" %}

{% load i18n %}
{% load account crispy_forms_tags %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="container py-3">
    <div class="row justify-content-center">
        <div class="col-md-4 bg-white p-3">

            <h4 class="text-primary">
                {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}
                {% endif %}</h4>

            {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please
                request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}

            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" name="action" class="btn btn-fb-primary w-100"
                    value="{% trans 'Change Password' %}" />
            </form>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}