pytz
# python-slugify==7.0.0  # https://github.com/un33k/python-slugify
Pillow
# rcssmin==1.1.0  # https://github.com/ndparker/rcssmin
argon2-cffi
whitenoise
redis
hiredis

# Django
# ------------------------------------------------------------------------------
django
django-environ
django-model-utils
django-allauth
django-crispy-forms
crispy-bootstrap5
# django-compressor==4.1  # https://github.com/django-compressor/django-compressor
django-redis
# Django REST Framework
# djangorestframework==3.14.0  # https://github.com/encode/django-rest-framework
# django-cors-headers==3.13.0 # https://github.com/adamchainz/django-cors-headers
# DRF-spectacular for api documentation
# drf-spectacular==0.25.1  # https://github.com/tfranzel/drf-spectacular


channels
django-htmx
# django-select2==7.10.0
# djangorestframework-gis==0.18
django-autoslug
channels-redis
psycopg2
django-select2