pytz
Pillow
argon2-cffi
whitenoise
redis
hiredis

# Django
# ------------------------------------------------------------------------------
django
django-environ
django-model-utils
django-allauth
django-crispy-forms
crispy-bootstrap5
# django-compressor==4.1  # https://github.com/django-compressor/django-compressor
django-redis

channels
django-htmx
django-autoslug
channels-redis
psycopg2
django-select2