{% load static %}
<!-- Footer -->

<footer class="footer">
	<div class="container">

		<div class="row">

			<div class="col-md-4">
				<div class="">
					<a href="#">
						<img src="{% static 'images/favicon-txt.svg' %}" width="200px" alt="">
					</a>
				</div>
				<div class="footer_social mt-3">
					<ul class="p-0 m-0">
						<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#"><i class="fab fa-telegram"></i></a></li>
						<li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="col-md-8">
				<div class="d-flex">
					<a href="#" class="me-4">Home</a>
					<a href="#" class="me-4">Terms</a>
					<a href="#" class="me-4">About</a>
					<a href="#" class="me-4">Support</a>
				</div>
			</div>

		</div>
	</div>

</footer>

<!-- Copyright -->

<div class="bg-light">
	<div class="container">
		<div class="d-flex align-items-center justify-content-between">
			<div class="small text-muted">
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				Copyright &copy;
				<script>document.write(new Date().getFullYear());</script> All rights reserved |
				<b>djchat.com</b>
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			</div>
			<ul class="list-unstyled d-flex mt-3">
				<li><a href="#" class="badge bg-light border text-primary me-2">#Action and adventure</a>
				</li>
				<li><a href="#" class="badge bg-light border text-primary me-2">#Classic</a></li>
				<li><a href="#" class="badge bg-light border text-primary me-2">#Comic book</a></li>
				<li><a href="#" class="badge bg-light border text-primary">#Crime</a></li>
			</ul>
		</div>
	</div>
</div>