{% load static %}
{% load i18n %}

<style>
	.search-sm {
		display: none;
	}

	.primary-search {
		max-width: 800px;
	}

	@media screen and (max-width: 767px) {
		.primary-search {
			display: none;
		}

		.search-sm {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-white py-1 d-flex" style="flex-wrap: nowrap !important;"
	id="navbar_top">
	<div class="container">

		<!-- nav menu left -->
		<ul class="navbar-nav me-auto mb-lg-0">
			<a class="navbar-brand" href="/">
				<img src="{% static 'images/favicon-txt.svg' %}" width="120px" alt="FidelBooks">
			</a>
		</ul>

		<!-- nav menu center -->
		<div class="primary-search position-relative w-100 mx-2" role="button" data-bs-toggle="modal"
			data-bs-target="#primarySearchModal">
			<input role="button" class="form-control ps-5" placeholder="Search chat rooms & peoples" readonly>
			<i class="zmdi zmdi-search fa-2x me-3 input-icon-left"></i>
		</div>

		<!-- nav menu right -->
		<ul class="navbar-nav ms-auto mb-lg-0">
			<button class="search-sm btn btn-nav mx-2 align-self-center border bg-light text-muted"
				data-bs-toggle="modal" data-bs-target="#primarySearchModal">
				<i class="zmdi zmdi-search fa-1-5x text-gray-400"></i></button>

			{% if not request.user.is_authenticated %}
			<li class="nav-item my-2 me-2">
				<a class="btn btn-light border" href="{% url 'account_login' %}">{% translate 'Login' %}</a>
			</li>
			<li class="nav-item my-2">
				<a class="btn btn-fb-primary" href="{% url 'account_signup' %}">{% translate 'Signup' %}</a>
			</li>
			{% endif %}

			{% if request.user.is_authenticated %}
			<!-- Discussion panel -->
			<li class="nav-item me-2">
				<a class="nav-link btn-nav position-relative 
				{% if request.path == roo %} active-link {% endif %}" href="{% url 'chats:rooms' %}">
					<i class="zmdi zmdi-comments fw-900"></i>
					<!-- <i class="zmdi zmdi-comment-text-alt"></i> -->
					<span class="notify-badge">
						<span id="total-unread-discussion-notifications-counter"></span>
						<span class="visually-hidden">unread discussions</span>
					</span>
				</a>
			</li>
			<!-- Message panel -->
			<li class="nav-item dropdown scroller me-2">
				<a hx-get="{% url 'chats:threads' %}" hx-target="#threads-list"
					class="btn-nav nav-link position-relative" href="#" id="messagesDropdown" role="button"
					data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
					<i class="zmdi zmdi-email fw-900"></i>
					<span class="notify-badge">
						<span id="total-unread-msgs"></span>
						<span class="visually-hidden">unread messages</span>
					</span>
				</a>
				<!-- Dropdown - Messages -->
				<ul class="dropdown-list dropdown-menu dropdown-menu-end dropdown-menu-sm-popup animated--grow-in origin-right"
					aria-labelledby="messagesDropdown">
					<div class="d-flex align-items-center px-2">
						<h6 class="small my-3 text-center text-gray-500">
							{% translate 'Messages' %}
						</h6>
						<a role="button" class="btn btn-sm btn-outline-primary ms-auto"
							hx-get="{% url 'chats:thread_new' %}?next={{ request.path }}" hx-target="#modals-here">
							+ New message
							<div class="text-center htmx-indicator">
								<span class="dots-loader">
									<i class="spinner__dot spinner__dot--one"></i>
									<i class="spinner__dot spinner__dot--two"></i>
									<i class="spinner__dot spinner__dot--three"></i>
								</span>
							</div>
						</a>
					</div>
					<div id="threads-list">
						<div class="text-center">
							<span class="dots-loader">
								<i class="spinner__dot spinner__dot--one"></i>
								<i class="spinner__dot spinner__dot--two"></i>
								<i class="spinner__dot spinner__dot--three"></i>
							</span>
						</div>
					</div>
				</ul>
			</li>
			<!-- User panel -->
			<li class="nav-item dropdown scroller">
				<a href="#user-panel" id="userPanel" role="button" data-bs-toggle="dropdown" aria-expanded="false"
					data-bs-auto-close="outside">
					<div class="avatar avatar-text">
						{{ request.user.username|first }}
					</div>
				</a>
				<ul class="dropdown-menu dropdown-menu-end animated--grow-in origin-right" aria-labelledby="userPanel"
					style="width: 240px;">

					<!-- {% if not perms.books.special_status %}
							<li class="text-center"><a href="#" class="my-2 text-warning">Go pro now.</a></li>
						{% endif %} -->
					<li><a class="dropdown-item" href="{{ request.user.get_absolute_url }}"><i
								class="zmdi zmdi-account me-2"></i> Profile</a></li>
					<li><a class="dropdown-item" href="#">
							<i class="zmdi zmdi-settings me-2"></i> Setting</a>
					</li>
					{% if request.user.is_superuser %}
					<li><a class="dropdown-item" href="/admin/" target="_blank">
							<i class="zmdi zmdi-view-dashboard me-2"></i> Administration</a>
					</li>
					{% endif %}

					<div class="divider my-2"></div>

					<li class="px-3">
						<div class="x-small">last joined: {{ request.user.last_login|date }}</div>
						<form method="post" action="{% url 'account_logout' %}">
							{% csrf_token %}
							{% if redirect_field_value %}
							<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
							{% endif %}
							<button type="submit" class="btn btn-sm bg-gray-200"><i class="zmdi zmdi-power me-1"></i>
								Logout</button>
						</form>
					</li>
				</ul>
			</li>
			{% endif %}
		</ul>
	</div>
</nav>