{% extends '_base.html' %}
{% load static %}
{% load chats_extras %}

{% block title %}All Messages - FidelBooks{% endblock %}

{% block content %}
<script src="{% static 'js/chat.js' %}"></script>

<style>
	p {
		font-weight: 300 !important;
	}

	body {
		height: 100vh !important;
		max-height: 100vh !important;
		max-height: 100vh !important;
		overflow: hidden;
	}
</style>

<div class="container">
	<div class="row py-3">
		<div class="d-none d-lg-block col-lg-4 ms-auto scroller">
			<div class="chat-nav position-relative radius-400 border bg-light scroll-y scroller"
				style="height: 83vh; max-height: 83vh; z-index: 1;">

				<!-- head -->
				<header class="text-center border-bottom bg-light" style="position: sticky; top: 0; z-index: 1;">
					<div class="align-items-center d-flex px-4 py-2">
						<div>Messages</div>
						<div class="ms-auto">
							<a role="button" class="btn btn-sm btn-outline-primary ms-auto"
								hx-get="{% url 'chats:thread_new' %}?next={{ request.path }}" hx-target="#modals-here">
								New message
								<div class="text-center htmx-indicator">
									<span class="dots-loader">
										<i class="spinner__dot spinner__dot--one"></i>
										<i class="spinner__dot spinner__dot--two"></i>
										<i class="spinner__dot spinner__dot--three"></i>
									</span>
								</div>
							</a>
						</div>
					</div>
				</header>

				<!-- nav -->
				<ul class="chat-list py-2 px-2 m-0" style="max-height: 90vh; overflow-y: auto;">
					{% for room in rooms %}
					{% get_partner request.user room as partner %}
					<li>
						<a role="button"
							class="py-3 px-4 mt-1 d-flex align-items-start text-dark chat-link radius-400 close-aside"
							hx-get="{% url 'chats:thread' room.id %}?pid={{ partner.id }}" hx-target="#chat-area"
							hx-indicator="#room-indicator" hx-push-url="true">
							<div>
								<div class="avatar avatar-md avatar-text">
									{{ partner.username|first }}
								</div>
							</div>
							<div class="ms-2">
								<h6 class="small mb-1 text-truncate">{{ partner.username }}</h6>
								<div class="small text-muted text-truncate">
									{% if room.room.latest_message.author == request.user %}
									<span class="text-success">You:</span>
									{% endif %}
									{{ room.room.latest_message.content }}
								</div>
							</div>
						</a>
					</li>
					{% empty %}
					<div class="my-5 text-center">
						<i class="far fa-meh-blank text-muted fa-3x mb-1"></i>
						<p>So Empty</p>
						<a href="#" class="btn btn-sm btn-fb-primary rounded-pill">Start New Message</a>
					</div>
					{% endfor %}
				</ul>

				<div class="fade-top p-4" style="position: sticky; bottom: 0;"></div>
			</div>

		</div>
		<div class="col-lg-6 d-none d-lg-flex me-auto d-flex" style="height: 83vh; max-height: 83vh;">
			<div id="room-indicator" class="htmx-indicator animated--fade-down"
				style="width: 60px; height: 60px; top: 0; left: 50%; margin-left: -30px; z-index: 110;">
				<img src="{% static 'images/preloader-md.svg' %}" width="40px" class="radius-200"
					style="box-shadow: 0 0 15px 2px rgba(0,0,0,.1);" alt="Loading..." />
			</div>
			<div id="chat-area" class="d-flex radius-400 border bg-white w-100">
				<h6 class="mx-auto my-auto small">Select a chat to start messaging</h6>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block newsletter %}{% endblock %}
{% block footer %}{% endblock %}

{% block script %}
<script>
	$('.chat-link').click(function () {
		$('.chat-link.active').removeClass('active');
		$(this).addClass('active');
		history.pushState({ tab: 'message room' }, '', this.href);
	})
</script>
{% endblock %}