{% load static %}

<div id="modal-backdrop" class="modal-backdrop fade show" style="display:block;"></div>
<div id="modal" class="modal fade show animated--grow-in" tabindex="-1" style="display:block;">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content radius-400 overflow-hidden border-0">
			<div class="modal-header border-0">
				Are you sure?
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
					onclick="closeModal()"></button>
			</div>
			<div class="modal-body text-center">
				<p>This will <b>clear</b> everything in this chat permanently and it cannot be <b>undone!</b></p>
				<div class="d-flex justify-content-center">
					<button type="button" class="btn btn-light border me-2" data-bs-dismiss="modal" aria-label="Close"
						onclick="closeModal()">Cancle</button>
					<form action="{% url 'chats:chat_clear_history' %}" method="POST">
						{% csrf_token %}
						<input type="hidden" name="room_id" value="{{ room_id }}">
						<input type="hidden" name="partner_id" value="{{ partner_id }}">
						<button type="submit" class="btn btn-danger">Clear history</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>