{% for room in rooms %}
{% include 'chats/partials/discussion_card.html' %}
{% endfor %}

{% if page_obj.has_next %}
<div id="rooms-paginator">
	<a hx-get="{% url 'chats:discussions' %}?page={{ page_obj.next_page_number }}" hx-target="#rooms-paginator"
		hx-trigger="click" hx-swap="outerHTML" role="button" id="load-more" class="btn btn-sm border w-100 mt-3">
		Load More <i class="fa fa-circle-arrow-down"></i>
		<div class="htmx-indicator">
			<span class="dots-loader">
				<i class="spinner__dot spinner__dot--one"></i>
				<i class="spinner__dot spinner__dot--two"></i>
				<i class="spinner__dot spinner__dot--three"></i>
			</span>
		</div>
	</a>
</div>
{% endif %}