{% load static i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %} Dj-chat - Simple chat service {% endblock %}</title>

	<meta name="description"
		content="Dj-chat is a Platform that allows you to connect with peoples all around the world by providing group and private chat service.">
	<meta name="keywords" content="discussion, group chat, private chat, one-on-one, multiple">

	<link rel="apple-touch-icon" href="{% static 'images/favicons/apple-touch-icon.png' %}" sizes="180x180">
	<link rel="icon" href="{% static 'images/favicons/favicon.png' %}" sizes="32x32" type="image/png">
	<link rel="icon" href="{% static 'images/favicons/favicon.png' %}" sizes="16x16" type="image/png">
	<link rel="shortcut icon" href="{% static 'images/favicons/favicon.png' %}" type="image/x-icon">

	<!-- Add manifest file here `site.webmanifest` -->
	{% comment %}
	<link rel="manifest" href="{% static 'images/favicons/site.webmanifest' %}">{% endcomment %}

	<!-- place mask icon here, it should be an svg file -->

	{% block og %}
	<!-- Open Graph tags to customize link previews -->
	<meta property="og:url" content="{{ request.path }}" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Dj-chat - Simple chat service" />
	<meta property="og:description"
		content="Dj-chat is a Platform that allows you to connect with peoples all around the world by providing group and private chat service." />
	<meta property="og:image" content="{% static 'images/favicons/apple-touch-icon.png' %}" />
	{% endblock %}

	<!--Material Design Iconic Font-->
	<link rel="stylesheet" href="{% static 'dist/material-design/css/material-design-iconic-font.css' %}" />
	<!-- Font Awesome Icon Font -->
	<link rel="stylesheet" href="{% static 'dist/fontawesome-free-6.0.0-beta3-web/css/all.min.css' %}" />

	<link rel="stylesheet" href="{% static 'dist/bootstrap-5.1.3-dist/css/bootstrap.min.css' %}">

	<link rel="stylesheet" href="{% static 'css/animate.css' %}">

	<!-- htmx -- Load from unpkg -->
	<!-- <script src="https://unpkg.com/htmx.org@1.6.1"></script> -->
	<script src="{% static 'dist/htmx/htmx.min.js' %}"></script>

	<script src="{% static 'dist/jquery-3.6.0/jquery-3.6.0.min.js' %}"></script>
	<!-- Websocket reconnecting -->
	<script src="{% static 'js/reconnecting-websocket.js' %}"></script>

	<!-- Toaster -->
	<link href="{% static 'dist/toastr/build/toastr.min.css' %}" rel="stylesheet" />

	<!-- Main custom style -->
	<link rel="stylesheet" href="{% static 'css/main.min.css' %}">

	{% block head %}
	{% endblock %}
</head>

<body>

	<!-- <svg style="box-sizing: content-box; color: var(--color-icon-primary);" width="32" height="32" viewBox="0 0 16 16" fill="none" data-view-component="true" class="d-block mx-auto anim-rotate">
		<circle cx="8" cy="8" r="7" stroke="currentColor" stroke-opacity="0.25" stroke-width="2" vector-effect="non-scaling-stroke"></circle>
		<path d="M15 8a7.002 7.002 0 00-7-7" stroke="currentColor" stroke-width="2" stroke-linecap="round" vector-effect="non-scaling-stroke"></path>
	</svg> -->

	<!-- Search Modal -->
	<div class="modal fade" id="primarySearchModal" tabindex="-1" aria-labelledby="primarySearchModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content radius-500 pb-3 px-3 px-lg-5 py-lg-3">
				<div class="modal-header border-0 px-0">
					<h5 class="mb-0"><i class="fa fa-search text-fb-primary"></i> Search</h5>
					<button type="button" class="btn-close float-end" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body p-0">
					<div class="position-relative">
						<input type="search" name="q" autocomplete="off" class="form-control p-2 ps-3"
							id="id_primary_search_input" placeholder="Search chat rooms & peoples" hx-get=""
							hx-trigger="keyup changed delay:500ms" hx-target="#results" hx-indicator="#search-indicator"
							style="border-radius: 2em !important;">
					</div>
					<div id="search-indicator" class="htmx-indicator static ms-2">
						<span class="dots-loader">
							<i class="spinner__dot spinner__dot--one"></i>
							<i class="spinner__dot spinner__dot--two"></i>
							<i class="spinner__dot spinner__dot--three"></i>
						</span>
					</div>
					<div id="results" class="animated--fade-in">
						<div class="ms-2 mt-1 text-muted small">{% translate 'Start typing' %}...</div>
					</div>
					<h6 class="mt-4 pb-2 border-bottom">Recent searches</h6>
					<span class="badge bg-light text-dark border-pill border me-2">Lorem ipsun set amet</span>
					<span class="badge bg-light text-dark border-pill border me-2">dolor incidunt voluptatum</span>
					<span class="badge bg-light text-dark border-pill border me-2">excepturi facilis quisquam</span>
				</div>
			</div>
		</div>
	</div>

	{% block nav %}
	{% include 'includes/_primary_menu.html' %}
	{% endblock %}

	<!-- {% include 'includes/_messages.html' %} -->

	<div id="content" hx-history-elt>
		{% block content %}
		{% endblock %}
	</div>

	<div id="modals-here"></div>
	<div id="chat-popup"></div>

	{% block footer %}{% include 'includes/_footer.html' %}{% endblock %}

	<script src="{% static 'dist/bootstrap-5.1.3-dist/js/bootstrap.bundle.js' %}"></script>
	<script src="{% static 'dist/jquery-easing-1.4.1/jquery.easing.min.js' %}"></script>

	<!-- Toastr -->
	<script src="{% static 'dist/toastr/build/toastr.min.js' %}"></script>

	<!-- Custom js -->
	<script src="{% static 'js/main.js' %}"></script>

	<script>
		// log all events triggered by htmx -- usefull for debuging
		// htmx.logger = function(elt, event, data) {
		// 	if(console) {
		// 		console.log(event, elt, data);
		// 	}
		// }
	</script>

	{% if request.user.is_authenticated %}
	<script>
		// const private_rooms_url = "/api-chats/private_rooms/";

		$(document).ready(function () {

			// handle when error happen in processing user request
			function requestFailHandler(
				error = null,
				msg = "Something went wrong while processing your request. \nTry again!",
				refreash = true
			) {
				if (error) {
					msg = `ERROR(${error.code}): ${error.message}\n${msg}`
				}
				toastr.error(msg);
			}

			function total_unread_messages() {
				$.ajax({
					type: 'GET',
					url: "{% url 'chats:total_unread_messages' %}",
					success: function (response) {
						if (response['total_unread_counter'] > 0) {
							$('#total-unread-msgs').parent('.notify-badge').css('display', 'block')
							$('#total-unread-msgs').text(`${response['total_unread_counter']}`);
							$('.zmdi-email').addClass('animated-bell-ring');
						}
						else { $('#total-unread-msgs').parent('.notify-badge').css('display', 'none') }
					},
					error: function (response) {
						// console.log(response)
						requestFailHandler()
					}
				})
			}
			total_unread_messages()

			// mute/unmute chat
			$(document).on('submit', '.js-mute-chat', function (evt) {
				evt.stopPropagation();
				evt.preventDefault();

				data = $(this).serialize();
				url = $(this).attr('action');
				submitBtn = $(this).children('button[type=submit]');
				// console.log(submitBtn)
				$.ajax({
					type: 'POST',
					url: url,
					data: data,
					headers: {
						'X-Requested-With': 'XMLHttpRequest',
						'csrftoken': csrftoken,
					},
					success: function (res) {
						console.log(res)
						submitBtn.text(res['muted'] === true ? 'Unmute' : 'Mute');
						toastr.success(res['msg']);
					},
					error: function (res) {
						console.log(res)
						requestFailHandler()
					}
				})
			})

			function removeAnim(anim) {
				$(`.${anim}`).on('animationend', function () {
					$(this).removeClass(anim);
				})
			}
			// htmx.onLoad(function(content) {
			// 	initTooltip();
			// 	// cartItemsCount();
			// 	favBook();
			// 	jsMuteChat();
			// })
			document.body.addEventListener("htmx:afterOnLoad", function (evt) {
				// reload the cart counter after cart has been changed
				if ($(evt.detail.target).hasClass('form-cart-ajax')) {
					cartItemsCount();
				}
			})
		})
	</script>
	{% endif %}

	<script>
		// htmx close modal
		function closeModal() {
			var container = document.getElementById("modals-here")
			var backdrop = document.getElementById("modal-backdrop")
			var modal = document.getElementById("modal")

			modal.classList.remove("show")
			backdrop.classList.remove("show")

			setTimeout(function () {
				container.removeChild(backdrop)
				container.removeChild(modal)
			}, 200)
		}

		// ====================================
		// Handle csrf_token for htmx request
		// ====================================
		document.body.addEventListener("htmx:configRequest", (event) => {
			event.detail.headers["X-CSRFToken"] = "{{ csrf_token }}";
		});
		// Django csrf varification
		function getCookie(name) {
			let cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				const cookies = document.cookie.split(';');
				for (let i = 0; i < cookies.length; i++) {
					const cookie = cookies[i].trim();
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		const csrftoken = getCookie('csrftoken');

		$(document).ready(function () {
			primarySearchModal = document.getElementById('primarySearchModal');
			primarySearchInput = document.getElementById('id_primary_search_input');
			primarySearchModal.addEventListener('shown.bs.modal', function () {
				primarySearchInput.focus()
			})

			$('.collapse').collapse();

			toastr.options = {
				"closeButton": false,
				"debug": false,
				"newestOnTop": true,
				"progressBar": false,
				"positionClass": "toast-bottom-left",
				"preventDuplicates": false,
				"onclick": null,
				"showDuration": "300",
				"hideDuration": "1000",
				"timeOut": "5000",
				"extendedTimeOut": "1000",
				"showEasing": "swing",
				"hideEasing": "linear",
				"showMethod": "fadeIn",
				"hideMethod": "fadeOut"
			}

			// textarea cusomization
			function updateHeight(ele) {
				$(ele).css('height', 'auto')
				$(ele).css('height', `${ele.scrollHeight}px`)
			}
			$('textarea').on('keyup', function () {
				updateHeight(this);
			})

			const navHeight = $(".navbar").outerHeight(); // height + padding + border
			// const navHeight = $(".navbar").outerHeight(true); // height + padding + border + margin

			$('.sticky-top.sticky-under-navbar').css({
				'top': navHeight + 10,
			});
			$('.sticky-top.sticky-under-navbar-0').css({
				'top': navHeight,
			});

			function initTooltip() {
				var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
				var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
					return new bootstrap.Tooltip(tooltipTriggerEl)
				})
			}
			initTooltip()
			htmx.onLoad(function (content) {
				initTooltip();
			})

			// Bootstrap toast
			var toastElList = [].slice.call(document.querySelectorAll('.toast'))
			var toastList = toastElList.map(function (toastEl) {
				return new bootstrap.Toast(toastEl, 'show')
			})
			toastList.forEach(toast => toast.show())
		})

		{% if messages %}
		{% autoescape off %}
		{% for msg in messages %}
		console.log("msg---->", msg)
		toastr.{ { msg.level_tag } } ({{ msg | safe }});
		{% endfor %}
		{% endautoescape %}
		{% endif %}

	</script>

	{% block script %}
	{% endblock %}
</body>

</html>