.progressbar {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	// max-width: 100vw;
	// width: 100%;
	// overflow-x: auto;
	transform: scale(.7);
  }
  .progressbar li {
	list-style: none;
	text-align: center;
	margin-right: 2rem;
  }
  .progressbar li:last-child {
	margin-right: 0px;
  }
  .progressbar .progress {
	position: relative;
	display: inline-flex;
	width: 40px;
	height: 40px;
	background-color: #dfdfdf;
	color: #a8a8a8;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	font-size: large;
  }
  .progressbar .progress-text {
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 10px;
	color: #c9c9c9;
  }
  .progressbar li.live-active::after {
	content: '';
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	height: 8px;
	width: 8px;
	border-radius: 8px;
	background-color: var(--fb-primary);
  }
  .progressbar li.active .progress-text {
	color: var(--fb-primary);
  }
  .progressbar li.active .progress {
	background-color: var(--fb-primary);
	color: #fff;
  }
  
  @media (min-width: 576px) {
	.progressbar {
	  transform: scale(1) !important;
	}
  }